/* تأثيرات إضافية لجعل الأيقونات "جامدة موت" */
.fa-brands, .fa-regular, .fa-solid {
  transition: all 0.3s ease-in-out;
    cursor: pointer;

}

/* تأثير التكبير عند الوقوف على أيقونة السوشيال ميديا */
a:hover i {
  transform: translateY(-3px) scale(1.2);
  filter: drop-shadow(0 0 8px rgba(37, 70, 224, 0.6));
}

/* لضمان محاذاة النص العربي */
:host {
  direction: rtl;
  display: block;
}

.logo {
  display: flex;
  align-items: center;
    cursor: pointer;

}

.logo img {
  height: 40px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
  margin-bottom: 25px;
  cursor: pointer;
}
